* {margin: 0; padding: 0;}

.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding: 25px 25px;
    background-color: #0D330E;
}

#logo-navbar{
    text-align: left;
    background-color: #0D330E;
    height: 80px;
}
    

.navbar__btn {
    color: aliceblue;
    padding: 8px 10px;
    background: none;
    border: none; 
    cursor: pointer;
}

#login-btn{
    color: aliceblue;
    padding: 10px 10px 10px 10px;
    background-color: #4CAF50;
    border: none; 
    cursor: pointer;
    border-radius: 5px;
}

#logo-header{
    display: block;
}