* {margin: 0; padding: 0;}

.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding: 25px 25px;
    background-color: #0D330E;
}

#logo-navbar{
    background-color: #0D330E;
    height: 80px;
}
    

.navbar__btn {
    color: aliceblue;
    padding: 8px 10px;
    background: none;
    border: none; 
    cursor: pointer;
}